extends ../../layouts/layout.pug

block content
  h1
    span Cart

  table.table
    thead.thead-dark
      tr
        th(scope='col') Name
        th(scope='col') Author
        th(scope='col') Amount
    tbody
      tr
        td Mark
        td Otto
        td @mdo
      tr
        td Jacob
        td Thornton
        td @fat
      tr
        td Larry
        td the Bird
        td @twitter
